body {
    background-color: #E60000;
}

h1 {
     color: #FFFF33;
     text-align: center;
     font-size: 5em;
}

.navbar-header, #navbarCollapse {
    background-color: #8E8787;
    color: #E60000;
}
.footer {
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    background-color: #8E8787; 
    margin-bottom: 10px;
    padding: 5px;
    border-bottom-left-radius: 15px;
    border: 1px solid gray;
    border-radius: 1px;
}
