body {
    background-color: #E60000;
}

h1 {
     color: #FFFF33;
     text-align: center;
     font-size: 3em;
}

.navbar-header, #navbarCollapse {
    background-color: #FFFF33;
    color: #E60000;
}
